<mat-card>
  <mat-card-header
    ><mat-card-title class="white">Доступные занятия</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="availableOrders.orders">
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Время</th>
      <td mat-cell *matCellDef="let element">
        {{ element.time | date : "dd.MM HH:mm" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Предмет</th>
      <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
    </ng-container>
    <ng-container matColumnDef="mentor">
      <th mat-header-cell *matHeaderCellDef>Ментор</th>
      <td mat-cell *matCellDef="let element">{{ element.mentor }}</td>
    </ng-container>
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Клиент</th>
      <td mat-cell *matCellDef="let element">-</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Цена</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price + "₽" }}
        <button mat-button (click)="submitBooking(element)">
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
